@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}
:root{
    --font-primary: "Open Sans", sans-serif;
    --font-secondary:"Segoe UI", sans-serif;
    
}
