

header{  
    -webkit-box-shadow: 1px 7px 8px -7px rgba(239,239,239,0.9); 
    box-shadow: 1px 7px 8px -7px rgba(239,239,239,0.9);
    width: 100vw;
    border-bottom: .5px solid rgba(239,239,239,1);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}
.hamburguer{
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    align-items: center;
    padding:  .4rem;
    z-index: 2;
}
.hamburguer .line{
    width: 100%;
    height: 2px;
    background-color: #828282;
    
}
.logo-wrapper{
    width: 150px;
    height: 60px;
    margin-right: 25%;
}
.logo-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.login{
    font-family: var(--font-secondary);
    font-weight: 500;
    color:#008ace;
    font-size: .9rem;
}
.nav{
    width:73%;
    height: 100vh;
    position: fixed;
    top:0;
    right:0;
     z-index: -3;
    opacity: 0;
    list-style: none;
    padding:.3rem 0;
    transition: .5s ease-in-out;
    
}
.nav li{
    padding: 12px 24px;
  
    
}
.nav li a{
    font-size: .8rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
    color: #222;
    font-weight: 600;
}
.nav li i{
    color:#008ace;
}
.nav .cta-menu a{
    background-color: #565656;
    color: #fff;
    padding:10px 10px;
    border-radius: 5px;
}
.show .nav{
   opacity:1;
   border-left: 1px solid #000;
   background-color: #fff;
   font-weight: 500;
   right: 0;
   z-index: 2;
  
   

}
.show .nav li{
    display:flex;
   align-items: center;
   justify-content: space-between;
}

.show .nav::before{
    content: "";
    width:44%;
    height: 100vh;
    position: absolute;
    top:0;
    left:-44%;
    background-color: black;
    opacity: 70%;
}
.show .hamburguer{
    position: fixed;
    top:1%;
    left:16%;
  
}
.show .hamburguer .line{
    background-color: #fff;
}
.show #line1 {
    transform: rotate(45deg) translate(.5rem, .1rem);
}

.show #line2 {
    width: 80%;
    opacity: 0;
    visibility: hidden;
}

.show #line3 {
    width: 100%;
    transform: rotate(-45deg) translate(.5rem, -.1rem);
}
.copy-simbol{
    color:#9ca539;
    margin-right: .3rem;
    font-size: 1rem;
}
@media  screen and (min-width:1000px) {
  
header{
    width: 100%;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}
    .logo-wrapper{
        width: 150px;
        height: 60px;
        margin-right: 0;
    }
    .nav{
        width: 60%;
        display: flex;
        justify-content: space-between;
        height: 30px;
        position: relative;
        z-index: initial;
        background-color: transparent;
        opacity: 1;
    }
    .nav li{
        padding: 0 10px;
      
        
    }
    .nav .cta-menu {
        margin-left: 10%;
    }
    .nav li i{
        margin-left: 7px;
    }
    .hamburguer{
        display: none;
    }
}
@media  screen and (min-width:1300px) {
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 120px;
    
    }
        .logo-wrapper{
            width: 150px;
            height: 60px;
            margin-right: 0;
        }
        .nav{
            width: 50%;
            display: flex;
            height: 30px;
            position: relative;
            z-index: initial;
            background-color: transparent;
            opacity: 1;
        }

        .nav li{
            padding: 0 16px;
                     
        }
        .nav .cta-menu {
            margin-left: 10%;
        }
        .nav li i{
            margin-left: 7px;
        }
}
@media  screen and (min-width:1400px) {
    .nav li{
        padding: 0 20px;
      
        
    }
}

@media  screen and (min-width:1450px) {
    .nav li{
        padding: 0 25px;
      
        
    }
}