dialog::backdrop {
    background-color: rgb(0 0 0/ .5);
   
}

dialog {
    border-radius: 5px;
    padding: .5rem 0;
    border: none;
    box-shadow:  0 0 1em rgb(0 0 0/ .3);
    width: 300px;

    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-close-modal{
    position: absolute;
    top:1%;
    right: 5%;
    z-index: 9999;
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 32px;
    cursor: pointer;
}